<div class="form-action">
  <h3>Add an Item To a List</h3>
  <%= form_for [user, item] do |f| %>
    <div class="form-group">
      <%= f.text_field :name, placeholder: "New Item Name...", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :url, placeholder: "Item Website...", class: "form-control" %>
    </div>

    <div class="row form-group">
      <%= f.hidden_field :creator_id %>
      <div class="col-xs-6">
        <%= f.button "Add Gift Idea", name: "item[want]", value: 1, class: "btn btn-primary btn-lg btn-block" %>
      </div>
      <div class="col-xs-6">
        <%= f.button "No Thank You", name: "item[want]", value: 0, class: "btn btn-danger btn-lg btn-block" %>
      </div>
    </div>
  <% end %>
</div>
