<div class="form-action">
  <% if user != current_user %>
    <h3>
      Suggest an item for <%= user.name %>
    </h3>
  <% else %>
    <h3>
      Add an item to your list
    </h3>
  <% end %>
  <%= form_for [user, item] do |f| %>
    <div class="form-group">
      <%= f.text_field :name, placeholder: "Enter the product's name", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :url, placeholder: "http://...", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_area :description, placeholder: "Why do or don't you want this...", class: "form-control" %>
    </div>

    <div class="row form-group">
      <%= f.hidden_field :creator_id %>
      <div class="col-xs-6">
        <%= f.button "Add Gift Idea", name: "item[want]", value: 1, class: "btn btn-primary btn-lg btn-block" %>
      </div>
      <div class="col-xs-6">
        <%= f.button "No Thank You", name: "item[want]", value: 0, class: "btn btn-danger btn-lg btn-block" %>
      </div>
    </div>
  <% end %>
</div>
