<% no_url = item.url.blank? ? "no-url" : "" %>
<tr>
  <td>
    <% if item.user == current_user %>
      <%= link_to item.name, item.url, class: no_url %>
    <% else %>
      <% if item.purchased?
        opts = {
          class: "purchased #{no_url}",
          rel: "tooltip",
          "data-original-title" => "Purchased by #{item.purchaser.name}",
          "data-placement" => "bottom"
        }
        else
          opts = { class: no_url }
        end
      %>
      <%= link_to item.name, item.url, opts %>
    <% end %>
  </td>
  <td class="actions">
    <% if item.user != current_user %>
      <% if item.purchased? %>
        <%= form_for [item.user, item], method: :put do |f| %>
          <%= f.hidden_field :purchaser_id, value: "" %>
          <%= f.button "Undo", name: "item[purchased]", value: 0, class: "btn btn-lg" %>
        <% end %>
      <% else %>
        <%= form_for [item.user, item], method: :put do |f| %>
          <%= f.hidden_field :purchaser_id, value: current_user.id %>
          <%= f.button "Purchased!", name: "item[purchased]", value: 1, class:
"btn btn-success btn-lg" %>
        <% end %>
      <% end %>
    <% end %>

    <%= form_for [item.user, item], method: :delete do |f| %>
      <%= f.submit "Remove", class: "btn btn-danger btn-lg" %>
    <% end %>
  </td>
</tr>
