<tr>
  <td><%= link_to item.name, item.url,
            class: (item.purchased? ? "purchased" : ""),
            rel: "tooltip",
            "data-original-title" => "Purchased by #{item.purchaser.name}",
            "data-placement" => "bottom" %>
  </td>
  <td class="actions">
    <% if item.user != current_user && item.purchased? %>
      <%= form_for [item.user, item], method: :put do |f| %>
        <%= f.hidden_field :purchaser_id, value: "" %>
        <%= f.button "Oops, didn't buy it!", name: "item[purchased]", value: 0, class: "btn" %>
      <% end %>
    <% elsif item.user != current_user %>
      <%= form_for [item.user, item], method: :put do |f| %>
        <%= f.hidden_field :purchaser_id, value: current_user.id %>
        <%= f.button "Purchased!", name: "item[purchased]", value: 1, class: "btn btn-success" %>
      <% end %>
    <% end %>
    <%= form_for [item.user, item], method: :delete do |f| %>
      <%= f.submit "Remove", class: "btn btn-danger" %>
    <% end %>
  </td>
</tr>
