<div id="user-group" class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="display: block; text-align: left">
    <span class="text"><%= format_label @user %></span>
    <span class="caret"></span>
  </a>
  <ul id="user-list" class="dropdown-menu pull-right">
    <%= render partial: "users/item", collection: @users, as: :user %>
  </ul>
</div>

<h2>Gift Ideas</h2>
<%= render partial: "items/collection", locals: { collection: @want } %>
<hr>
<h2>No Thank You</h2>
<%= render partial: "items/collection", locals: { collection: @dont } %>
<%= render partial: "items/form", locals: { user: @user, item: @item } %>
