<div class="btn-group col-xs-12">
  <button type="button" class="btn btn-lg btn-info dropdown-toggle col-xs-12" data-toggle="dropdown">
    <%= format_label @user %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu col-xs-12" role="menu">
    <%= render partial: "users/item", collection: @users, as: :user %>
  </ul>
</div>

<h2>Gift Ideas</h2>
<%= render partial: "items/collection", locals: { collection: @want } %>
<hr>
<h2>No Thank You</h2>
<%= render partial: "items/collection", locals: { collection: @dont } %>
<%= render partial: "items/form", locals: { user: @user, item: @item } %>
