<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
      maximum-scale=1.0, user-scalable=no">
    <title>Wishlist</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- Add Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <script>
      $(function(){
        $('a[rel=tooltip]').tooltip()
        $('.dropdown-toggle').dropdown()
      });
    </script>
    <style>
    body {
      font-size: 16px;
    }

    .container {
      width: 100%;
      max-width: 1200px;
    }

    td a:link,
    td a:visited {
      line-height: 30px;
    }

    td form,
    td form div {
      display: inline;
    }

    td form .btn {
      width: 110px;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    #item-name {
      width: 75%;
    }

    #item-actions {
      width: 25%;
    }

    @media screen and (max-width: 990px) {
      td form + form .btn {
        margin-top: 10px;
      }
    }

    </style>
  </head>

  <body>

    <%= render "layouts/navbar" %>

    <div class="container">

      <% if flash[:notice] %>
      <p class="alert alert-warning"><%= flash[:notice] %></p>
      <% end %>

      <% if flash[:error] %>
      <p class="alert alert-danger"><%= flash[:error] %></p>
      <% end %>

      <%= yield %>
      
    </div>
  </body>
</html>
